/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  height: 20px;
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 10px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

/* #mySidenav a:active {
  left: 0;
} */

"red", "yellow", "blue", "orange", "white", "black", "green", "purple"
#red {
  top: 10px;
  background-color: red;
}

#yellow {
  top: 70px;
  background-color: yellow;
}

#blue {
  top: 130px;
  background-color: blue;
}

#orange {
  top: 190px;
  background-color: orange;
}

#white {
  top: 250px;
  background-color: white;
}

#black {
  top: 310px;
  background-color: black;
}

#green {
  top: 370px;
  background-color: green;
}

#purple {
  top: 370px;
  background-color: purple;
}
