body, html {
  height: 100%;
  display: grid;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -90px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 10px;
  height: 10px;
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 10px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

/* #mySidenav a:active {
  left: 0;
} */

/*"red", "yellow", "blue", "orange", "white", "black", "green", "purple"*/
#red {
  top: 20px;
  background-color: red;
}

#yellow {
  top: 40px;
  background-color: yellow;
}

#blue {
  top: 60px;
  background-color: blue;
}

#orange {
  top: 80px;
  background-color: orange;
}

#white {
  top: 100px;
  background-color: white;
}

#black {
  top: 120px;
  background-color: black;
}

#green {
  top: 140px;
  background-color: green;
}

#purple {
  top: 160px;
  background-color: purple;
}

#numbers {
  font-size: 200%;
  margin: auto;
}
